{% extends "base.html" %}
{% block title %}{{ notation }} ({{language}}){% endblock %}

{% block head_last%}<script type="module">import * as frontend from '/static/__target__/frontend.js';</script>
<script src="/static/openseadragon-2.4.2/openseadragon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<style type="text/css">
.focussed  {
    border-left: 3px solid red;
    border-right: 3px solid red;
    background-color: #eee;
    padding: 4px;
}

.navver {cursor: pointer}
.kw_search {text-decoration: none; cursor: pointer; color: black; font-size: 85%}
a:hover {text-decoration: underline; color: blue}

</style>
{% endblock %}
{% block content %}

<div class="container-fluid">

<div class="row p-2">
    <div class="col-sm-6">

    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="navtabNavigate" class="nav-link active" aria-current="page" href="#">Browse</a>
    </li>
    <li class="nav-item">
        <a id="navtabSearch" class="nav-link" href="#" tabindex="-1">Search</a>
    </li>
    </ul>

        <div id="thetree" style="margin-bottom: 10vh; border-left: 1px solid #eee; max-height: 80vh; overflow: auto"></div>
        <div id="searchtab" style="margin-bottom: 10vh; border-left: 1px solid #eee; display: none; max-height: 80vh; overflow-y: scroll; overflow-x: clip; padding-left: 5px">
            {% block searchbox %}<div class="mt-3 mb-lg-0 me-3" style="width: 90%">
            <input id="searchbox" autocomplete="off" name="q" type="search" class="form-control form-control-dark" placeholder="Type some word(s) in {{language}} to search for and press 'Enter'..." aria-label="Search" value="{{q}}"/>
            <input style="display: none; margin-top: 5px" id="searchregex" autocomplete="off" name="r" type="search" class="form-control form-control-dark" placeholder="Type a Regex to filter notation results with" aria-label="Regex" value="{{r}}"/>
          </div>{% endblock %}

          <div id="searchresults">
          <div class="row mt-3">
            <div class="col-sm">
                <a id="advancedsearch" href="#" class="btn btn-sm btn-success">Advanced Search</a> 
            </div>          
            <div class="col-sm">
                <a id="includekeys" data="1" class="btn btn-sm btn-secondary" href="#">Include keys (+ )</a>
                <a id="searchsortorder" data="notation" class="btn btn-sm btn-secondary" href="#">Sort by notation</a>
                <a target="docs" title="Documentation on using search" href="/help/search"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ddd;" class="bi bi-patch-question" viewBox="0 0 16 16">
                    <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
                    <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                    <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
                    </svg>
                </a>
            </div>

          </div>

          </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div id="results">
            {% for p in obj.p%}
            <div>
            {% if loop.last %}
                <span style="padding-left: 0.2rem; color: red; font-size: 170%; cursor: pointer">{{obj.n}} &middot; </span>
                <span style="font-size: 170%; cursor: pointer">{{obj.txt.get(lang, "")}}</span>
            {% else %}
                <span notation="{{p['n']}}" style="padding-left: 0.2rem; cursor: pointer; font-size: 75%">{{p.n}} &middot; {{p.txt.get(lang, "")}}</span>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="languages" class="row mb-3" style="font-size: 60%">
    <div class="col-3">&nbsp;</div>
    <div class="col-9">
    <p>View the contents in a different language</p>
  {% if lang != "en"%}<a class="btn btn-sm" href="/en/_">English</a>{% endif %} 
  {% if lang != "de"%}<a class="btn btn-sm" href="/de/_">Deutsch</a>{% endif %} 
  {% if lang != "fr"%}<a class="btn btn-sm" href="/fr/_">Français</a>{% endif %} 
  {% if lang != "it"%}<a class="btn btn-sm" href="/it/_">Italiano</a>{% endif %} 
  {% if lang != "pt"%}<a class="btn btn-sm" href="/pt/_">Portuguese</a>{% endif %} 
  {% if lang != "fi"%}<a class="btn btn-sm" href="/fi/_">Finnish</a>{% endif %} 
  {% if lang != "nl"%}<a class="btn btn-sm" href="/nl/_">Nederlands</a>{% endif %}
  {% if lang != "zh"%}<a class="btn btn-sm" href="/zh/_">中文</a>{% endif %}
  {% if lang != "ja"%}<a class="btn btn-sm" href="/jp/_">日本語</a>{% endif %}
  </div>
</div>


</div>

<script>
document.notation = "{{notation}}"
document.q = "{{q}}"
</script>


{% endblock %}
