{% extends "base.html" %}

{% block searchbox %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row p-3">
        <div class="col-8" style="min-height: 50vh">{{content}}</div>
        <div class="col-4">
            <h5>Table of Contents</h5>
            <ul>
                <li><a href="/help/about">General</a></li>
                <li><a href="/help/abouta">Bibliography</a></li>
                <li><a href="/help/aboutb">Survey of versions</a></li>
                <li><a href="/help/aboutc">Websites that use Iconclass</a></li>
                <li><a href="/help/aboutd">Conference papers and presentations</a></li>
                <li><a href="/help/lod">LOD - Linked Open Data</a></li>
                <li><a href="/help/data">How to suggest additions or corrections to the system</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
