{% extends "base.html" %}

{% block searchbox %}{% endblock %}

{% block head_last %}
<style>
.parallax {
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wideslab {
 padding: 3vw; min-height: 27vh; display: flex; text-align: center; width: 100vw
}
.wideslab > p { margin: 4vw; }
</style>
{% endblock  %}

{% block content %}
<div class="container-fluid" style="margin:0 padding: 0">

    <div style="text-align: center; font-size: 440%; margin: 12vh auto">Iconclass Illustrated Edition</div>

    <div style="background-image: url(/static/media/ic_home_006.jpg)" class="parallax"></div>

    <div class="wideslab">    
    <p style="font-size: 200%; font-weight: bold">The comprehensive classification system for the content of images.</p>
    <p>Providing <a href="/en/_">subject access</a> to <a href="/help/aboutc">the collections of many museums and libraries</a>, but its vocabulary covers a spectrum of visual communication that is broader than that of the traditional cultural heritage domain. </p>
    </div>

    <div style="background-image: url(/static/media/ic_home_004.jpg)" class="parallax"></div>

    <div class="wideslab">
    <p style="font-size: 150%">This is the third version of the online Iconclass browser.<br> It is different from its predecessors, because <a href="/51H42" title="Note: You need to be logged in to see the images">it offers a large corpus of classified images</a> to be used for comparison and inspiration.</p>
    </div>

    <div style="background-image: url(/static/media/ic_home_010.jpg)" class="parallax"></div>

    <div class="wideslab">
    <p style="font-size: 200%; font-weight: bold">History and future</p>
    <p>Iconclass <a href="/help/abouta">started as the idea of Henri van de Waal</a>, professor of Art History at Leiden university. He laid the groundwork from the 1940’s forward.
    It was first published in printed form and then digitized. It is maintained and further developed under the auspices of the <a target="hvdw" href="https://henrivandewaalfoundation.org/">Henri van de Waal Foundation</a>, but for a stable and sustainable future the Foundation <a href="/help/data">will need the active support of the Iconclass user community.</a></p>
    </div>


</div>


{% endblock content %}
