{% extends "base.html" %}

{% block content %}

<div class="row p-2">
    <div class="col-6">        
<h1>ICONCLASS Illustrated Edition</h1>

<p>The ICONCLASS system is like a filing cabinet. It offers thousands of ready- made
drawers to store the information about your image collection. ICONCLASS started
as an idea of Henri van de Waal, professor of Art History at Leiden university.
He laid the groundwork upon which the system was built by students and
colleagues, among whom we should mention Leendert Couprie, Els Tholen, Rudi
Fuchs. Ger Duijfjes-Vellekoop saw the original 17 volume edition through the
press and connected the original Leiden team with the team at Utrecht
university, led by Jörgen van den Berg, that turned the printed edition into a
standalone computerized browser.</p>

<p>This standalone browser was transformed into an online system at the start of 
the century by Etienne Posthumus, who also produced the second version some 10 years ago.
The ICONCLASS system has been around now for over 60 years and it is used 
across the globe to index the subject matter of many cultural heritage collections.</p>

<h3>Illustrated ICONCLASS</h3>

<p>Having reached the end of its technical life cycle after well over a decade of
service, the online ICONCLASS Browser is replaced by this new version. Unlike
the earlier versions of ICONCLASS, this new edition will do much more than just
help you find the terms that best fit the subject matter of your collection. We
have added over a large corpus of images, all indexed with ICONCLASS, making
sure the new Browser will now also show you how the terminology was applied by
the community of ICONCLASS users. Uploading and tagging Users can now upload
their own image collections and start indexing them to make their subject matter
searchable. Institutional users who have their own corpus of images online as
IIIF instances, can link class numbers to the objects in their IIIF store, and
so turn the online browser into an iconographic search engine for their own
collections.</p>
    </div>
    <div class="col-3 p-4">
        <blockquote class="blockquote">
            <p>The sources that together constitute our cultural heritage, are like the random debris that is left behind on the beaches of history between the waves of time.</p>
        </blockquote>
        
       <p>In a sense, therefore, all primary source cataloguing is an attempt to bring
some order to a chaotic mess. Like cleaning up a really big mess, cataloguing
can be done most efficiently if it is clear from the outset where to store the
things you find.</p>

<p>The most time-consuming part of cataloguing is subject indexing, so using a 
system that functions as a huge filing cabinet that tells you “what goes where”, 
will help create some order and save time too.</p>
    </div>
</div>


{% endblock content %}
