{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row p-3">
        <div class="col-8">        
            <h1>ICONCLASS Illustrated Edition</h1>

            <h4>What is it?</h4>
            <p>Iconclass is a comprehensive classification system for the content of images. It provides subject access to the collections of many museums and libraries, but its vocabulary covers a spectrum of visual communication that is broader than that of the traditional cultural heritage domain.</p>

            <h4>How did it start?</h4>
            <p>Iconclass started as the idea of Henri van de Waal, professor of Art History at Leiden university. He laid the groundwork in the 1940’s, and in the ensuing decades he built the system with the assistance of many colleagues and students, who completed it after he passed away in 1972, only 62 years old. It was originally published in 17 printed volumes, and then transformed into a computer system in the 1990’s.</p>


            <h4>What is new in this edition?</h4>
            <p>This edition is already a third version of the online browser, but it is radically different from its predecessors, It is the first edition that is not just a well-organized vocabulary, but also offers a large corpus of classified images to be used for comparison and inspiration. To this corpus users can add their own images by uploading them and indexing them online.<br>
            The pictures included on this page offer a mere glimpse of the scope of the products of human imagination that have already been tagged with Iconclass.</p>

            <h4>How is it made sustainable?</h4>
            <p>Iconclass is developed and maintained under the auspices of the <a href="https://henrivandewaalfoundation.org/">Henri van de Waal Foundation</a>. This Foundation is presently developing an initiative to organize the user community and bring it together in a consortium for the support of the system.</p>
            <p>The system’s raw data are open access and the code of the browser application is open source. Both are <a href="https://github.com/iconclass">deposited in Github</a>, and whoever wants to contribute to its content or its functionality, can do so.</p>

        </div>
        <div class="col-4 p-5">
            <h4>Who is producing this Iconclass system and what are the contact details?</h4>
            <p>Like the previous editions this one is produced and maintained by <a href="https://twitter.com/epoz">Etienne Posthumus</a> and Hans Brandhorst, who are open to all contributions from the community of users. They can be contacted via <a href="https://forms.gle/twPq7swQZXmSX46G8">this form,</a> or if you prefer send and email to info@iconclass.org</p>

        </div>
    </div>
</div>

<div class="container-fluid mt-5">

    <div class="row justify-content-center">
    <div class="col-6">
    <p>The Iconclass <i>view of the world</i> is subdivided in 10 main categories. The scope of each of these categories is here demonstrated by a random selection of images tagged with Iconclass concepts. An Iconclass concept consists of an alphanumeric class number (“notation”) and a corresponding content definition (“textual correlate”). An object can be tagged with as many concepts as the user sees fit. The samples in our demonstration set are tagged with just one concept.</p>

    </div>
    </div>


    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
                
        <table>
        <tr>
        <td valign="top"  colspan="3"><p><b>0 Abstract, Non-representational Art</b></p>
            <p>This concept is an addition to the original schedules. It was added as Iconclass began to be applied to modern, abstract art at a.o. Bildarchiv Foto Marburg. The concept has no further subdivisions. The selected examples are from the Bildindex site.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/0.jpg" height="200"><br>0 Abstract, Non-representational Art</td>
        <td valign="top"><img src="/static/media/0_2.jpg" height="200"><br>0 Abstract, Non-representational Art</td>
        <td valign="top"><img src="/static/media/0_4.jpg" height="200"><br>0 Abstract, Non-representational Art</td>
        <td valign="top"><img src="/static/media/0_3.jpg" height="200"><br>0 Abstract, Non-representational Art</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="5"><p><b>1 Religion and Magic</b></p>
        <p>This first main category contains concepts that can be applied to religious imagery of any denomination. The terminology covers Christian iconography in great depth. Other religions - from Egyptian to Shinto - are covered too, but in lesser detail. The biblical narrative itself, however, is covered by category 7 Bible.</p></td>
        </tr>
        <tr>  
        <td valign="top"><img src="/static/media/11a1.jpg" height="200"><br>11A Deity, God (in general) ...</td>
        <td valign="top"><img src="/static/media/11b.jpg" height="200"><br>11B the Holy Trinity ...</td>
        <td valign="top"><img src="/static/media/11c.jpg" height="200"><br>11C God the Father</td>
        <td valign="top"><img src="/static/media/11d.jpg" height="200"><br>11D Christ</td>
        <td valign="top"><img src="/static/media/11e.jpg" height="200"><br>11E the Holy Ghost</td>
        <td valign="top"><img src="/static/media/11f42.jpg" height="200"><br>11F the Virgin Mary</td>
        <td valign="top"><img src="/static/media/11g183.jpg" height="200"><br>11G Archangel Michael</td>
        <td valign="top"><img src="/static/media/11h.jpg" height="200"><br>11H male saint: Jerome</td>
        <td valign="top"><img src="/static/media/11hh.jpg" height="200"><br>11HH female saint: Barbara</td>
        <td valign="top"><img src="/static/media/11i.jpg" height="200"><br>11I Fathers of the Church</td>
        <td valign="top"><img src="/static/media/11k.jpg" height="200"><br>11K devils and demons</td>
        <td valign="top"><img src="/static/media/11l.jpg" height="200"><br>11L Christian doctrine</td>
        <td valign="top"><img src="/static/media/12a.jpg" height="200"><br>12A Jewish religion and culture</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>2 Nature</b></p>
        <p>The concepts in this category cover representations of natural phenomena; from landscapes to the planets, and from the animal kingdom to thunderstorms and the allegory of Time.<br>Its subdivisions often echo the evolving ideas about the natural world, which is why the phoenix and the unicorn are found in this section.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/21.jpg" height="200"><br>21 the four elements ...</td>
        <td valign="top"><img src="/static/media/22.jpg" height="200"><br>22 natural phenomena: light</td>
        <td valign="top"><img src="/static/media/23.jpg" height="200"><br>23 time</td>
        <td valign="top"><img src="/static/media/24.jpg" height="200"><br>24 the heavens (celestial bodies)</td>
        <td valign="top"><img src="/static/media/25.jpg" height="200"><br>25 maps, atlases</td>
        <td valign="top"><img src="/static/media/25f2.jpg" height="200"><br>25F2 animals: mammals</td>
        <td valign="top"><img src="/static/media/25ff241.jpg" height="200"><br>25FF241 unicorn</td>
        <td valign="top"><img src="/static/media/25f3.jpg" height="200"><br>25F3 animals: birds</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="3"><p><b>3 Human Being, Man in General</b></p>
        <p>The whole spectrum of representations of human beings is dealt with by the terms of this category. It contains detailed labels for the human anatomy, and for gestures and their meaning. It also offers terms for human relations: between individuals, between the sexes, between humans and other animals and between man and the environment.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/31a.jpg" height="200"><br>31A the (nude) human figure ...</td>
        <td valign="top"><img src="/static/media/31aa233.jpg" height="200"><br>31AA233 kneeling on both knees</td>
        <td valign="top"><img src="/static/media/31a235.jpg" height="200"><br>31A235 sitting figure</td>
        <td valign="top"><img src="/static/media/31a24.jpg" height="200"><br>31A2421 head turned to the right</td>
        <td valign="top"><img src="/static/media/31a251.jpg" height="200"><br>31A251(+9321) arm forward, speaking gesture</td>
        <td valign="top"><img src="/static/media/32a14.jpg" height="200"><br>32A14 melancholic temperament</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>4 Society, Civilization, Culture</b></p>
        <p>Concepts to index the aspects of human beings as members of society are found in category 4. Images of food and meals, family portraits, hunting, sports and leisure, but also politics and warfare. Human activities in a wide range of professions, from agriculture to the arts and education can be tagged with the terms in this category’s subdivisions.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/41.jpg" height="200"><br>41 material aspects of daily life: food</td>
        <td valign="top"><img src="/static/media/41d2.jpg" height="200"><br>41D2 clothes</td>
        <td valign="top"><img src="/static/media/42.jpg" height="200"><br>42 family, descendance</td>
        <td valign="top"><img src="/static/media/43b52.jpg" height="200"><br>43B52 sunbathing (on the beach)</td>
        <td valign="top"><img src="/static/media/43c3.jpg" height="200"><br>43C3 sports, games: athletics</td>
        <td valign="top"><img src="/static/media/43c9.jpg" height="200"><br>43C9 recreation, amusement: dancing</td>
        <td valign="top"><img src="/static/media/44b112.jpg" height="200"><br>44B112 rulers: emperor</td>
        <td valign="top"><img src="/static/media/44b119.jpg" height="200"><br>44B119 tyrant, dictator</td>
        <td valign="top"><img src="/static/media/45b.jpg" height="200"><br>45B the soldier</td>
        <td valign="top"><img src="/static/media/48b3.jpg" height="200"><br>48B3 selfportrait of artist</td>
        <td valign="top"><img src="/static/media/48c721.jpg" height="200"><br>48C721 musician</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>5 Abstract Ideas and Concepts</b></p>
        <p>Allegories, personifications, emblems and devices, but also the abstract ideas symbolized by a wide range of works of art, can be indexed with the terms in category 5. Love, Fortune, Pain and Sorrow, Hope and Fear are examples of the terms found here to index aspects of the human condition often expressed in art.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/51.jpg" height="200"><br>51A7 Perfection (generalities)</td>
        <td valign="top"><img src="/static/media/52d3.jpg" height="200"><br>52D3 Eloquence</td>
        <td valign="top"><img src="/static/media/53a2.jpg" height="200"><br>53A2 Perseverance, Determination</td>
        <td valign="top"><img src="/static/media/54f12.jpg" height="200"><br>54F12 Luck, Fortune, Lot</td>
        <td valign="top"><img src="/static/media/55b.jpg" height="200"><br>55B1 Wealth, Opulence</td>
        <td valign="top"><img src="/static/media/56.jpg" height="200"><br>56BB1 Pain, Sorrow, Sadness</td>
        <td valign="top"><img src="/static/media/56f23.jpg" height="200"><br>56F23 Friendship</td>
        <td valign="top"><img src="/static/media/57a3.jpg" height="200"><br>57A3 Conscience; Coscienza</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>6 History</b></p>
        <p>Historical events like battles, floods and epidemics, or the signing of a peace-treaty; all types of portraits, from heroic exaggerations to caricatures, but also a wide range of other entities, from bridges to islands, streets and trade unions: if they can be identified with a name or a date, the concepts of category 6 are available.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/61a.jpg" height="200"><br>61A historical events ...</td>
        <td valign="top"><img src="/static/media/61b.jpg" height="200"><br>61B historical persons ...</td>
        <td valign="top"><img src="/static/media/61b2.jpg" height="200"><br>61B2 portrait of a man</td>
        <td valign="top"><img src="/static/media/61bb2.jpg" height="200"><br>61BB2 portrait of a woman</td>
        <td valign="top"><img src="/static/media/61bb2_2.jpg" height="200"><br>61BB2 portrait of a woman</td>
        <td valign="top"><img src="/static/media/61b_4.jpg" height="200"><br>61B2(GRANT, Ulysses)(+4) caricature</td>
        <td valign="top"><img src="/static/media/61c.jpg" height="200"><br>61C proper names of animals</td>
        <td valign="top"><img src="/static/media/61d.jpg" height="200"><br>61D names of countries, regions</td>
        <td valign="top"><img src="/static/media/61e.jpg" height="200"><br>61E names of cities</td>
        <td valign="top"><img src="/static/media/61f.jpg" height="200"><br>61F names of buildings</td>
        <td valign="top"><img src="/static/media/61g.jpg" height="200"><br>61G names of artefacts: Venus of Milo</td>
        <td valign="top"><img src="/static/media/61h.jpg" height="200"><br>61H names of organizations, companies, etc.</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>7 Bible</b></p>
        <p>Category 7 is dedicated to the narrative of the Bible, from Genesis to Revelation. It offers thousands of ready-made labels to index biblical scenes from the Creation to the Crucifixion and Resurrection. These labels closely follow the stories of Moses, Joseph, Job, David and all the Old Testament protagonists, and allow for the detailed indexing of all scenes from the Gospels and Acts of the apostles.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/71a2.jpg" height="200"><br>71A2 creation of the firmament</td>
        <td valign="top"><img src="/static/media/71a4.jpg" height="200"><br>71A4 Temptation and Fall</td>
        <td valign="top"><img src="/static/media/71b.jpg" height="200"><br>71B3 story of Noah</td>
        <td valign="top"><img src="/static/media/71b4.jpg" height="200"><br>71B4 the Tower of Babel</td>
        <td valign="top"><img src="/static/media/71c13.jpg" height="200"><br>71C13 sacrifice of Isaac</td>
        <td valign="top"><img src="/static/media/71c2441.jpg" height="200"><br>71C2441 Esau sells his birthright to Jacob</td>
        <td valign="top"><img src="/static/media/71c3222.jpg" height="200"><br>71C3222 Jacob wrestles with the angel</td>
        <td valign="top"><img src="/static/media/71d13.jpg" height="200"><br>71D13 Joseph seduced</td>
        <td valign="top"><img src="/static/media/71e1123.jpg" height="200"><br>71E1123 Moses found</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="4"><p><b>8 Literature</b></p>
        <p>From Boccaccio’s Decamerone to Shakespeare's Romeo and Juliet, and from Ovid's Metamorphoses to Goethe's Werther, literature has been visualized. To index literary scenes by title and chapter, but also to list fairy tales, fables and proverbs, tags can be found in category 8.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/81.jpg" height="200"><br>81(ARTHURIAN LEGEND) literary cycle</td>
        <td valign="top"><img src="/static/media/82.jpg" height="200"><br>82A(FAUST) male literary characters</td>
        <td valign="top"><img src="/static/media/83.jpg" height="200"><br>83(SHAKESPEARE, Romeo and Juliet)</td>
        <td valign="top"><img src="/static/media/83_2.jpg" height="200"><br>83(GOETHE, Werther)</td>
        <td valign="top"><img src="/static/media/83_3.jpg" height="200"><br>83(OVID, Metamorphoses I:668-688)</td>
        <td valign="top"><img src="/static/media/84.jpg" height="200"><br>84(CINDERELLA) tales and fairy tales</td>
        <td valign="top"><img src="/static/media/85.jpg" height="200"><br>85A(MONKEY AND FOX) fables of Aesop</td>
        <td valign="top"><img src="/static/media/86.jpg" height="200"><br>86 proverbs, sayings, etc.</td>
        </tr>
        </table>
    </div>
    </div>

    <div class="row mb-5" style="border-top: 2px solid #cdcdcd">
    <div class="col">
        <table>
        <tr>
        <td valign="top" colspan="3"><p><b>9 Classical Mythology and Ancient History</b></p>
        <p>Throughout the history of western culture, the stories of Greek and Roman mythology and history have inspired countless works of art. Category 9 contains the terminology with which you can give systematic access to the artefacts that visualize the classical tradition.</p></td>
        </tr>
        <tr>  

        <td valign="top"><img src="/static/media/91e4.jpg" height="200"><br>91E461 punishment of Prometheus</td>
        <td valign="top"><img src="/static/media/92a.jpg" height="200"><br>92A the Olympian gods together</td>
        <td valign="top"><img src="/static/media/92b171.jpg" height="200"><br>92B171 Jupiter as king of heaven</td>
        <td valign="top"><img src="/static/media/92c2.jpg" height="200"><br>92C2 (story of) Minerva (Pallas)</td>
        <td valign="top"><img src="/static/media/92c3.jpg" height="200"><br>92C2 (story of) Diana (Artemis)</td>
        <td valign="top"><img src="/static/media/92c4.jpg" height="200"><br>92C4 (story of) Venus (Aphrodite)</td>
        </tr>
        </table>
    </div>
    </div>

</div>


{% endblock content %}
