<div class="row mt-3">
    {% if r %}{% else %}<div class="col">
        <a id="advancedsearch" href="#" class="btn btn-sm btn-success">Advanced Search</a> 
    </div>
    {% endif %}

    <div class="col">
    {% if include_keys == '1' %}<a id="includekeys" data="0" class="btn btn-sm btn-secondary" href="#">Exclude keys (+ )</a>{% else %}
    <a id="includekeys" data="1" class="btn btn-sm btn-secondary" href="#">Include keys (+ )</a>{% endif %}
    {% if sort == 'rank'%}<a id="searchsortorder" data="notation" class="btn btn-sm btn-secondary" href="#">Sort by notation</a>{% else %}
    <a id="searchsortorder" data="rank" class="btn btn-sm btn-secondary" href="#">Sort by relevance</a>{% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <b class="mt-4">Found {{total}} results, searching for <em>{{q}}</em></b>
    </div>
</div>

{% if request.user.is_authenticated %}

<div style="max-width: 90ch">
{% for r in results %}
<div style="text-indent: -1em; margin-left: 1em; margin-bottom: 5px">
    <a copy_clipboard="{{r['n']}}" href="#" title="Copy notation {{r['n']}} to clipboard"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 24 24">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg></a>
    <span style="cursor: pointer" notation="{{r['n']}}">{{r['n']}}</span>
    <a copy_clipboard='{{r["n"]}} {{r.get("txt").get(lang, "")}}' id="copynotationtextclipboard" href="#" title="Copy notation and text to clipboard"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 24 24">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg></a>
    <span style="cursor: pointer" notation="{{r['n']}}">{{ r.get('txt').get(lang)}}</span>
</div>
{% endfor %}
</div>

{% if total > RESULT_CAP %}
    <em>We are showing the first {{RESULT_CAP}} results, of the {{total}} search results.</em>
{% endif %}

{% else %}
<div>
    <p>To use this feature you need to be logged in.</p>
    <p>It is currently only available to <a href="/help/sponsoring">sponsors of the Iconclass consortium</a></p>

</div>
{% endif %}