<div>
    <span style="color: #ccc; font-size: 150%">{{obj.n}}</span>
    <span style="font-size: 150%">{{obj.txt.get(lang, "")}}</span>
    {% if obj.get("kw", {}).get(lang, []) %}
    <h4 style="margin: 0.4rem 0 0 0; font-size: 75%">Keywords:</h4>
    <div style="margin: 0 0 8px 10px; font-style: italic">
      {% for kw in obj.get('kws_all', {}).get(lang, []) %}<a href="/search?lang={{lang}}&q={{kw}}" title="Search for this keyword">{{kw}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
    </div>
    {% endif %}

    {% if obj.r %}
    <div style="margin: 5px 0 5px 5px; background-color: rgb(255, 250, 250); padding: 3px; border-top: 1px solid rgb(248, 233, 214);">
      <h4 style="margin: 0.4rem 0 0 0; font-size: 75%">Also see:</h4>
      {% for r in obj.r %}
      <div style="padding-left: 8px">
        <span data-notation="{{r['n']}}" class="navver" href="#">{{r['n']}}</span> &nbsp; {{ r.get('txt', {}).get(lang, "")}}
      </div>
      {% endfor %}
    </div>
    {% endif %}


</div>