<div>
    
    {% for p in obj.p%}
    <div>
      {% if loop.last %}
        <span style="padding-left: 0.2rem; color: red; font-size: 170%; cursor: pointer">{{obj.n}} &middot; </span>
        <span style="font-size: 170%; cursor: pointer">{{obj.txt.get(lang, "")}}</span>
      {% else %}
        <span notation="{{p['n']}}" style="padding-left: 0.2rem; cursor: pointer; font-size: 75%">{{p.n}} &middot; {{p.txt.get(lang, "")}}</span>
      {% endif %}
    </div>
    {% endfor %}



    {% if obj.get("kw", {}).get(lang, []) %}
    <h4 style="margin: 0.4rem 0 0 0; font-size: 75%">Search with these related keywords:</h4>
    <div style="margin: 0 0 8px 10px; font-style: italic">
      {% for kw in obj.get('kws_all', {}).get(lang, []) %}<a href="#" class="kw_search" data="{{kw}}" title="Search for this keyword">{{kw}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
    </div>
    {% endif %}

    {% if obj.r %}
    <div style="margin: 5px 0 5px 5px; background-color: rgb(255, 250, 250); padding: 3px; border-top: 1px solid rgb(248, 233, 214);">
      <h4 style="margin: 0.4rem 0 0 0; font-size: 75%">Also see:</h4>
      {% for r in obj.r %}
      <div style="padding-left: 8px">
        <span data-notation="{{r['n']}}" notation="{{r['n']}}" class="navver" href="#">{{r['n']}} &middot; {{ r.get('txt', {}).get(lang, "")}}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if obj.c %}
    <h4 style="font-size: 75%; margin-top: 1rem">Add more detail:</h4>
    {% for c in obj.c%}
    <div style="padding-left: 3ch; font-size: 80%">
      <span style="cursor: pointer" notation="{{c['n']}}">{{c['n']}} &middot; 
      {{ c.get('txt', {}).get(lang, "")}}</span>
    </div>
    {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% if images %}    
    <div>
    {% if images_count > 1 %}
    <h4 {% if images_count > sample_size %}title="And here are {{sample_size}} random choices of some of them"{% endif %} style="margin-top: 1rem">{{images_count}} sample images</h4>
    {% else %}
    <h4 style="margin-top: 3vh">Here is a sample image:</h4>
    {% endif %}   

    <div class="row">
    <div class="col">
    {% for i in images %}
        <a target="_sample" style="margin: 0 0 0 10px" href="{{i[1]}}"><img height="200px" src="https://test.iconclass.org/iiif/3/{{i[0]}}/full/,300/0/default.jpg" title="{{i[2]}}"></a>
    {% endfor %}
    </div>
    </div>
    </div>
    {% else %}
        <div class="p-5 fs-8">There are no sample images for this notation yet.</div>    
    {% endif %}
    {% else %}
        <div class="p-5 fs-12"><em>For more features, <a title="eg. like seeing sample images" href="/login">you need to log in</a>.</em></div>    
    {% endif %}
    
</div>