{% extends "base.html" %}
{% block title %}Showcase{% endblock %}

{% block head_last%}
<script src="/static/openseadragon-2.4.2/openseadragon.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

<div class="row p-2">
    <div class="col-4">
        <h2>Introduction</h2>
        <p>This page is a showcase of the application of ICONCLASS.</p>
        <p>Click on the image to the right to zoom in and see more details, or choose one of the categories below for more information.</p>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">0</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">8</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">9</a>
            </li>
        </ul>
        <div notation="0"><h3>Abstract, Non-representational Art</h3>
        This concept is an addition to the original schedules. It was added as Iconclass began to be applied to modern, abstract art at a.o. Bildarchiv Foto Marburg. The concept has no further subdivisions.</div>
<div notation="1"><h3>Religion and Magic</h3>
This first main category contains concepts that can be applied to religious imagery of any denomination. The terminology covers Christian iconography in great depth. Other religions - from Egyptian to Shinto - are covered too, but in lesser detail. The biblical narrative itself, however, is covered by category 7 Bible.</div>
<div notation="2"><h3>Nature</h3>
The concepts in this category cover representations of natural phenomena, on their own or combined with man-made objects. They range from landscapes to the planets, and from the animal kingdom to thunderstorms and the allegory of Time. Its subdivisions often echo the evolving ideas about the natural world, which is why the phoenix and the unicorn are found in this section.</div>
<div notation="3"><h3>Human Being, Man in General</h3>
The whole spectrum of representations of human beings is dealt with by the terms of this category. It contains detailed labels for the human anatomy, and for gestures and their meaning. It also offers terms for human relations: between individuals, between the sexes, between humans and other animals and between man and the environment.</div>
<div notation="4"><h3>Society, Civilization, Culture</h3>
Concepts to index the aspects of human beings as members of society are found in category 4. Images of food and meals, family portraits, hunting, sports and leisure, but also politics and warfare. Human activities in a wide range of professions, from agriculture to the arts and education can be tagged with the terms in this category’s subdivisions.</div>
<div notation="5"><h3>Abstract Ideas and Concepts</h3>
Allegories, personifications, emblems and devices, but also the abstract ideas symbolized by a wide range of works of art, can be indexed with the terms in category 5. Love, Fortune, Pain and Sorrow, Hope and Fear are examples of the terms found here to index aspects of the human condition often expressed in art.</div>
<div notation="6"><h3>History</h3>
Historical events like battles, floods and epidemics, or the signing of a peace-treaty; all types of portraits, from heroic exaggerations to caricatures, but also a wide range of other entities, from bridges to islands, streets and trade unions: if they can be identified with a name or a date, the concepts of category 6 are available.</div>
<div notation="7"><h3>Bible</h3>
Category 7 is dedicated to the narrative of the Bible, from Genesis to Revelation. It offers thousands of ready-made labels to index biblical scenes from the Creation to the Crucifixion and Resurrection. These labels closely follow the stories of Moses, Joseph, Job, David and all the Old Testament protagonists, and allow for the detailed indexing of all scenes from the Gospels and Acts of the apostles.</div>
<div notation="8"><h3>Literature</h3>
From Boccaccio’s Decamerone to Shakespeare's Romeo and Juliet, and from Ovid's Metamorphoses to Goethe's Werther, literature has been visualized. To index literary scenes by title and chapter, but also to list fairy tales, fables and proverbs, tags can be found in category 8.</div>
<div notation="9"><h3>Classical Mythology and Ancient History</h3>
Throughout the history of western culture, the stories of Greek and Roman mythology and history have inspired countless works of art. Category 9 contains the terminology with which you can give systematic access to the artefacts that visualize the classical tradition.</div>
    </div>
    <div class="col-8">        
        <div id="thedzi1" style="width: 100vw; height: 100vh" />
    </div>
</div>
</div>

<script type="text/javascript">
        var viewer1 = OpenSeadragon({
            id: "thedzi1",
            prefixUrl: '/static/openseadragon-2.4.2/images/',
            showNavigator: false,
            showFullPageControl: true,
            zoomPerClick: 2,
            tileSources: [
                { x: 0, y: 0, height: 1000, tileSource: 'https://test.iconclass.org/z/all.dzi' },
	    ],
             });
</script>

{% endblock %}
